{% extends 'base.html' %}


{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto">

            {% if target_user.profile %}
            <img src="{{ target_user.profile.image.url }}" alt=""
                 style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
            <h2 style="font-family: 'NanumSquareB'">
                {{ target_user.profile.nickname }}

                {% if target_user == user %}
                <a class="material-icons"
                   style="box-shadow: 0 0 4px #ccc; border-radius:10rem; padding: .4rem"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                </a>
                {% endif %}
            </h2>
             <h5 style="margin-bottom:3rem;">
                {{ target_user.profile.message }}
            </h5>
            {% else %}
                {% if target_user == user %}
                <a href="{% url 'profileapp:create' %}">
                    <h2 style="font-family: 'NanumSquareB'">
                        CreateProfile
                    </h2>
                </a>
                {% else %}
                <h2>
                    닉네임 미설정
                </h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}
            <a class="material-icons"
                style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                href="{% url 'accountapp:update' pk=user.pk %}">
                settings
            </a>
            <a class="material-icons"
                style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
                href="{% url 'accountapp:delete' pk=user.pk %}">
                cancel
            </a>
            {% endif %}
 <hr>
        </div>

        <div style="text-align: center; margin: 4rem auto">
             <h2>
                 <!--  현재 내가 쓴 프로젝트만 보임 -->
                 My project
                {% include 'snippets/list_fragment.html' with project_list=object_list %}
             </h2>
        </div>

         <div style="text-align: center; margin: 4rem auto">
             <h2>
                  join

                 {% for join in join_list %}
                    {% if target_user == join.user %}
                        <a href="{% url 'projectapp:detail' pk=join.project.pk %}">
                            <div class="container" style="margin: 2rem auto">
                                <img src="{{ join.project.image.url }}" alt=""> <br>
                                {{ join.project.title }}
                            </div>
                        </a>
                    {% endif %}
                 {% endfor%}
<!--             {% include 'snippets/list_fragment.html' with project_list=join_list %}-->
             </h2>
        </div>

    </div>

{% endblock %}