{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}


    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
            </form>
        </div>

         <hr>

        <div class="LKLK_login_navbar">

            <a href="{% url 'accountapp:create' %}" class="LKLK_login_nav">
                <span style="font-size: .9rem;">SignUp</span>
            </a>
            <a href="{% url 'accountapp:login' %}" class="LKLK_login_nav">
                <span style="font-size: .9rem;">ID 찾기</span>
            </a>
            <a href="{% url 'accountapp:login' %}" class="LKLK_login_nav">
                <span style="font-size: .9rem;">비밀번호 찾기</span>
            </a>

        </div>

    </div>

{% endblock %}